
.navbar{
    color: white;
    background-color: rgb(43, 53, 99);
    height: 5rem;
    box-shadow: 0 1px 5px 3px rgba(255, 255, 255, 0.3);
}
.brand{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    text-decoration: none;
}
.brand:hover{
    color: rgb(127, 172, 224);
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    text-decoration: none;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}